@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* custom font */
@font-face {
    font-family: myFont;
    src: url(../fonts/Miama.otf);
}

/* shared style */
.container{
    width: 80%;
    margin: 0 auto;
}
body{
    font-family: "Inter", sans-serif;
}

/* header start */

/* header end */